<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Ghost</title>
  <meta name="description" content="Play Ghost against a computer">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://unpkg.com/nes.css@2.2.1/css/nes.min.css" rel="stylesheet" />

  <style>
      header {
          margin: 1rem auto;
          max-width: 800px;
      }
      main {
          max-width: 800px;
          margin-left: auto;
          margin-right: auto;
      }
      footer {
          margin: 1rem auto;
          max-width: 800px;
      }
      #game-container {
          margin: auto;
          text-align: center;
          font-size: 2em;
      }
      #game-controls {
          margin: 1em auto;
          text-align: center;
      }
      #game-status {
          margin: 1.5em auto 0 auto;
          text-align: center;
          font-size: 0.8em
      }
      #game-definition {
          margin: 1.5em auto 0 auto;
          text-align: center;
          font-size: 0.8em
      }
      #hint {
          margin: 1.5em auto 0 auto;
          text-align: center;
          font-size: 0.7em
      }
      #input-txt {
          display: inline-block;
          width: 3em;
          text-align: center;
      }
      #prefix-letters {
          display: inline;
      }
      .vert-spaced {
          margin-top: 1rem;
      }
  </style>

</head>

<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  
  <header>
    <div class="nes-container is-centered">
        <h3 class="title">GHOST</h3>
    </div>
  </header>
  <main>
      <div class="nes-container with-title">
        <h3 class="title">Play The Game</h3>
        <div id="game-container">
            <div id="prefix-letters"></div>
            <input type="text" class="nes-input" id="input-txt" maxlength="1" />
        </div>
        <div id="game-controls">
            <input type="button" id="btn-submit" class="nes-btn is-primary" value="Submit">
            <input type="button" id="btn-reset" class="nes-btn" value="Reset">
        </div>
        <div id="game-status"></div>
        <div id="game-definition"></div>
        <div id="hint"></div>
      </div>


      <div class="nes-container with-title vert-spaced">
        <h3 class="title">How To Play</h3>
        <p>
            <span class="nes-text is-primary">Ghost</span> is a simple word game that can be played by two players. Players take turns adding a letter to the end of a word until:
        </p>
        <p>
            <span class="nes-text is-warning">a)</span> one player completes a full word (of 4 or more characters) that exists in the dictionary, or
        </p>
        <p>
                <span class="nes-text is-warning">b)</span> one player adds a letter that renders an impossible sequence of characters (i.e., no matter how many more letters get added, it will never result in a proper dictionary word being created.)
        </p>
        <p>
            The player that causes the word to reach either end state is the losing player.
        </p>
    </div>
  </main>
  <footer>
      <div class="nes-container with-title">
          <h3 class="title">About</h3>
          <p>
              This website was created by Dan Liberatori with:
              <ul>
                <li><a href="https://www.djangoproject.com">Django</a></li>
                <li><a href="https://www.docker.com">Docker</a></li>
                <li><a href="https://github.com/matthewreagan/WebstersEnglishDictionary">Webster's Unabridged English Dictionary</a></li>
                <li><a href="https://nostalgic-css.github.io/NES.css/">NES.css</a></li>
              </ul>
              
              The source code for the back-end API can be found on my <a href="https://github.com/dliberat/django-ghost">GitHub</a> page.
          </p>
      </div>
  </footer>

  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.4.1.min.js"><\/script>')</script>
</body>
<script>
    const API_ENDPOINT = "{% url 'game:index' %}"

    const GM_STATUS_READY = 'Enter a letter into the box and click <span class="nes-text is-primary">Submit</span> to start playing.';
    const GM_STATUS_PLAYING = 'Game on! Type in another letter to continue.';
    const GM_STATUS_WIN = '<span class="nes-text is-primary">You win!</span>';
    const GM_STATUS_LOSE = '<span class="nes-text is-error">You lose!</span>';

    let current_word = "";
    const prefixLettersDiv = $("#prefix-letters");
    const input_char = $("#input-txt");
    const txt_game_status = $("#game-status");
    const txt_game_definition = $("#game-definition");
    const txt_hint = $("#hint");
    const btn_reset = $("#btn-reset");
    const btn_submit = $("#btn-submit");

    function validateChar(char) {
        return /^[a-zA-Z]$/.test(char);
    }
    function validateWord(word) {
        return /^[a-zA-Z]+$/.test(word);
    }
    function handleBadInput() {
        alert("Invalid input. Please submit only a single ASCII letter between 'a' and 'z'.");
    }
    function refreshPrefixLetters() {
        prefixLettersDiv.fadeOut();

        if (current_word.length > 0) {
            prefixLettersDiv.text(current_word);
            prefixLettersDiv.fadeIn();
        }
    }
    function reset() {
        current_word = "";
        input_char.show();
        btn_submit.show();
        txt_game_status.html(GM_STATUS_READY);
        txt_game_definition.html("");
        txt_hint.html("");
        refreshPrefixLetters();
    }
    function updateHint(res) {
        txt_hint.html(`Hint: You could have  tried for <span class="nes-text is-success">${res.word}</span>!`);
    }
    async function getLeafNode(word, cb) {
        json = null;
        try {
            const response = await fetch(`${API_ENDPOINT}get-leaf?word=${word}`);
            if (!response.ok) {
                throw new Error('Bad network response.');
            }
            json = await response.json();
        } catch (err) {
            alert("Network error.");
            console.error(err);
            return;
        }
        cb(json);
    }
    async function submit(word, cb) {
       
        json = null;

        try {
            const response = await fetch(`${API_ENDPOINT}?word=${word}`);

            if (!response.ok) {
                throw new Error('Network response was not ok.');
            }

            json = await response.json();

        } catch (err) {
            alert("Network error.");
            console.error(err);
            return;
        }
        
        cb(json);
    }
    function handleResponse(json) {
        
        if (!json.is_game_over) {

            current_word = json.cpu_word;
            txt_game_status.html(GM_STATUS_PLAYING);
            refreshPrefixLetters();

        } else {

            if (json.cpu_word != null) {

                current_word = json.cpu_word;
                txt_game_status.html(GM_STATUS_WIN);

            } else {

                input_char.hide();
                btn_submit.hide();
                txt_game_status.html(GM_STATUS_LOSE);

            }

            let definition = "";
            if (json.is_real_word) {
                definition = json.definition !== null ? json.definition : "No definition available.";
            } else {
                definition = "Not a real word, or a substring of a real word.";
                getLeafNode(current_word.substr(0, current_word.length-1), updateHint)
            }

            txt_game_definition.html(`<span class="nes-text is-primary">${current_word}</span>: ${definition}`);
            refreshPrefixLetters();
        }

    }

    input_char.on("input", () => {
        // only chars a-z are permitted
       if (!validateChar(input_char.val())) {
           input_char.val("");
       }
    });

    // handle ENTER clicked
    input_char.keyup((e) => {
        if(e.keyCode === 13) {
            btn_submit.click();
        }
    });

    btn_reset.click(() => reset());

    btn_submit.click(() => {
        const char = input_char.val();
        const word = `${current_word}${char}`;

        if (char === '') {
            return;
        }

        if (!validateWord(word)) {
            return handleBadInput();
        }

        // update display before fetching CPU move
        current_word = word;
        refreshPrefixLetters();
        input_char.val("");

        // wait half a second before sending request
        // so that the user can see their own letter go
        // into the word
        const handler = () => submit(word, (x) => handleResponse(x));
        window.setTimeout(handler, 600);
        
    });

    reset();

</script>
</html>
